* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* bai-jamjuree-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/bai-jamjuree-v11-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* bai-jamjuree-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/bai-jamjuree-v11-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Global */
body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 16px;
}

p {
  line-height: 1.5rem;
  color: hsl(210, 10%, 33%);
}

h1, h2, h3 {
  color: hsl(210, 10%, 33%);
}

/* 
HERO SECTION
*/
#hero {
  position: relative;
  width: 100%;
  /* height: 726px; */
  margin-bottom: 6rem;
}

#hero .container {
  padding: 2.1rem;
  padding-top: 7.5rem;
  text-align: center;
}

.bg-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.bg-header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 46%;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.logo {
  width: 6rem;
  height: 6rem;
  margin-bottom: 2rem;
}

h1 {
  font-size: 1.98rem;
  margin-block: 1rem;
}

h1 + p {
  margin-bottom: 3rem;
  max-width: 550px;
}

/* Hero buttons */

.hero-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.ios-button:hover {
  filter: brightness(1.1);
}

.mac-button:hover {
  filter: brightness(1.2);
}

.ios-button,
.mac-button {
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  color: white;
}

@media (max-width:485px) {
  .ios-button,
  .mac-button {
    padding: 15px 89px;
  }
}

@media (min-width:485px) {
  .hero-buttons {
    gap: 1rem;
  }

  .bg-header img {
    height: 58%;
  }
}

.ios-button {
  background-color: hsl(171, 66%, 44%);
  box-shadow: 0 9px 13px hsla(171, 66%, 44%, 0.3), 0 3px hsla(171, 66%, 38%);
}

.mac-button {
  background-color: hsl(233, 100%, 69%);
  box-shadow: 0 9px 13px hsl(233, 100%, 69%,0.3), 0 3px hsl(233, 100%, 63%);
}


/* 
ABOUT SECTION
*/

#about {
  padding-inline: 2.1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#about h2 {
  margin-bottom: 1rem;
  font-size: 1.7rem;
}

#about p {
  margin-bottom: 4rem;
  max-width: 630px;
}


/* 
SERVICES
*/

#services {
  padding-inline: 2.1rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
}

#services .info {
  max-width: 385px;
}

#services div img {
  max-width: 95%;
  height: auto;
  margin-bottom: 3rem;
}

#services .info div h3 {
  margin-bottom: .7rem;
  font-size: 1.45rem;
}

#services .info div p {
  margin-bottom: 3rem;
}

@media (min-width: 885px) {
  #services .info {
    text-align: start;
    padding: 1.5rem;
  }

  #services {
    padding: 0;
  }
}

@media (max-width: 1136px) {
  #services {
    justify-content: center;
  }

  #services div {
    text-align: center;
  }
}

@media (min-width: 1136px) {
  #services div img {
    transform: translateX(-47px);
  }

  #services .info {
    margin-top: 2rem;
  }
}


/* 
ACCESS SECTION
*/

#access {
  text-align: center;
  margin-top: 8.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#access .access-info {
  margin-inline: 2.1rem;
}

#access .access-image {
  margin-inline: 1rem;
}

#access div h2 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

#access div p {
  margin-bottom: 3.5rem;
  max-width: 600px;
}

#access picture img {
  max-width: 100%;
  height: auto;
}


/* 
SUPERCHARGE SECTION
*/

#supercharge {
  margin-inline: 2.1rem;
  text-align: center;
}

#supercharge h2 {
  font-size: 1.7rem;
  padding-top: 4rem;
  padding-bottom: .7rem;
}

#supercharge .supercharge-info {
  margin-bottom: 4.5rem;
}

#supercharge img {
  width: 2.5rem;
  height: auto;
  margin-bottom: 2rem;
}

#supercharge h3 {
  font-size: 1.45rem;
  margin-bottom: .7rem;
}

#supercharge div p {
  margin-bottom: 3rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.cards div {
  max-width: 350px;
}


/* 
COMPANIES SECTION
*/

.companies-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  gap: 5rem;
}

/* 
CALL TO ACTION
*/

.cta {
  padding-inline: 2.1rem;
  padding-block: 4rem 8rem;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cta h2 {
  margin-block: 1rem;
  font-size: 1.7rem;
}

.cta p {
  margin-bottom: 3rem;
  padding-inline: .1rem;
  max-width: 600px;
}


/* 
FOOTER
*/

footer {
  padding-inline: 7rem;
  padding-block: 3rem;
  background-color: hsla(202, 11%, 66%, 0.1);
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.footer-logo {
  max-width: 4rem;
  height: auto;
  margin-bottom: 2rem;
}

footer a {
  text-decoration: none;
  font-weight: 400;
  line-height: 3rem;
  color: hsl(210, 10%, 33%);
}

footer ul {
  list-style: none;
}

.socials {
  display: flex;
  gap: 2.5rem;
}

.socials img {
  max-width: 1.5rem;
  height: auto;
  margin-top: 3rem;
}

.links {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: start;
  justify-content: space-around;
  width: clamp(375px, 50%, 800px);
}

.links a:hover {
  color: hsl(171, 66%, 44%);
}

@media (min-width: 790px) {
  .footer-logo {
    margin-bottom: 0;
  }

  .socials img {
    margin-top: 0;
  }
}

@media (min-width: 411px) {
  .c1, .c2, .c3 {
    text-align: start;
  }
}

@media (min-width: 662px) {
  footer {
    padding: 1rem 7rem;
  }
}